<div class="desktop">

  <div class="icon-area">

    @for (icon of icons; track icon.label) {

      <app-desktop-icon
        [image]="icon.image"
        [label]="icon.label">
      </app-desktop-icon>

    }

  </div>


  <app-taskbar
    (startClicked)="toggleStartMenu()">
  </app-taskbar>


  <app-start-menu
    [visible]="menuOpen"
    (appClicked)="openPasswordDialog()">
  </app-start-menu>


  @if (passwordDialogOpen) {

    <app-password-dialog
      (closed)="closePasswordDialog()">
    </app-password-dialog>

  }


</div>