<div class="desktop">

  <div class="icon-area">

    @for (icon of icons; track icon.label) {

      <app-desktop-icon
        [image]="icon.image"
        [label]="icon.label"
        (activated)="openDesktopApplication(icon.applicationId)">
      </app-desktop-icon>

    }

  </div>


  <div class="window-layer">

    @for (window of openWindows(); track window.id) {

      @if (window.mode !== 'minimized') {

        <app-window-frame
          [window]="window"
          [active]="activeWindowId() === window.id"
          (focusRequested)="focusWindow($event)"
          (minimizeRequested)="minimizeWindow($event)"
          (maximizeRequested)="toggleMaximizeWindow($event)"
          (closeRequested)="closeWindow($event)">

          @if (window.applicationId === 'about-latitude-ops') {

            <div class="about-latitude-ops">

              <div class="about-content">
                <p class="about-welcome">
                  Welcome to the LatitudeOPS Angular Playground
                </p>

                <p>
                  This site was created as a hands-on environment for exploring Angular development, from foundational concepts to advanced application architecture.
                </p>

                <p>
                  Every component, interface, and application on this platform is built using Angular and serves as a demonstration of real-world development techniques.
                </p>

                <p>
                  LatitudeOPS is intentionally a living project. As new ideas are introduced and architectural patterns are tested, the site may evolve frequently &mdash; including occasional changes, experiments, and unexpected behavior along the way.
                </p>

                <p>
                  The goal is not just to showcase finished applications, but to demonstrate the process of designing, building, and improving modern software.
                </p>

                <p class="about-signature">&mdash; Andy</p>
              </div>

              <div class="about-actions">
                <button
                  type="button"
                  (click)="closeWindow(window.id)">
                  OK
                </button>
              </div>

            </div>

          } @else if (window.applicationId === 'latitude-apps') {

            <div class="latitude-apps">

              @for (application of latitudeApplications; track application.id) {

                <button
                  type="button"
                  class="application-launcher"
                  (click)="openPasswordDialog()">

                  <img [src]="application.icon" alt="">
                  <span>{{ application.title }}</span>

                </button>

              }

            </div>

          } @else {

            <div class="application-placeholder">
              <h2>{{ window.title }}</h2>
              <p>Application content will be added in a future update.</p>
            </div>

          }

        </app-window-frame>

      }

    }

  </div>


  <app-taskbar
    [startMenuOpen]="menuOpen()"
    [windows]="openWindows()"
    [activeWindowId]="activeWindowId()"
    (windowButtonClicked)="handleTaskbarWindowClick($event)"
    (startMenuToggleRequested)="toggleStartMenu()">
  </app-taskbar>


  <app-start-menu
    [visible]="menuOpen()"
    (applicationSelected)="selectApplication($event)">
  </app-start-menu>


  @if (passwordDialogOpen()) {

    <div class="dialog-layer">
      <app-password-dialog
        (closed)="closePasswordDialog()">
      </app-password-dialog>
    </div>

  }


</div>
