.desktop {
  position: fixed;
  inset: 0;

  background-image: url('../../assets/wallpapers/clouds.png');
  background-size: cover;
  background-position: center;

  overflow: hidden;
}

.icon-area {

  position: absolute;

  top: 20px;
  left: 20px;

}