<div class="dialog">

  @if (!invalid) {

    <div class="title">
      LatitudeOPS
    </div>

    <div class="content">

      <p>
        Enter Password To Access Application
      </p>

      <input 
        type="password"
        [(ngModel)]="password">

    </div>

    <div class="buttons">

      <button (click)="close()">
        Cancel
      </button>

      <button (click)="submit()">
        Submit
      </button>

    </div>

  }


  @if (invalid) {

    <div class="error">

      <div class="stop">
        🛑
      </div>

      <h2>
        INVALID PASSWORD
      </h2>

      <button (click)="close()">
        Cancel
      </button>

    </div>

  }

</div>