.dialog {

  position: absolute;

  top: 35%;
  left: 35%;

  width: 350px;

  background: #c0c0c0;

  border-top: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid #404040;
  border-bottom: 3px solid #404040;

  font-family: Arial;

}


.title {

  background: navy;

  color: white;

  font-weight: bold;

  padding: 8px;

}


.content {

  padding: 20px;

}


input {

  width: 90%;

}


.buttons {

  padding: 10px;

  text-align: right;

}


button {

  margin-left: 10px;

}


.error {

  text-align: center;

  padding: 20px;

}


.stop {

  font-size: 50px;

}